# Node
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# React build
server/build/
client/build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# 환경 변수
.env
.env.local
.env.*.local

# logs
logs
*.log

# 기타
coverage/
dist/
